 /* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
  padding:  0px;
  border: 0px;
  position: relative;
  zoom: 1;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a { 
display: block;  
position: absolute; top: 45%; z-index: 10; cursor: pointer; text-indent: -9999px;
    background: url(../images/arrow_left.png) no-repeat 15px 15px #12A7CA;
width: 50px;
    height: 50px;
    border: 1px dashed #fff;
    border-radius: 100px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
 -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {    left: 16px;}
.flex-direction-nav .flex-prev { background: url(../images/arrow_right.png) no-repeat 15px 15px #12A7CA;left: auto; right:16px;}

.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {
	position: absolute;
	right: 3%;
	margin-left: 0px;
	top: 84%;
}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #12A7CA;  cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover {   }
.flex-control-paging li a.flex-active { background: #C69C6C;  cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {

}
@media screen and (max-width: 640px) {
  .flex-direction-nav a {
    top: 40%;
}
}
@media screen and (max-width: 480px) {
section.slider {
	padding-top: 0%;
}
.flexslider {
	padding: 0px 0px;
	}
}
@media screen and (max-width: 414px) {
.flex-direction-nav a {
    top: 38%;
    background: url(../images/arrow_left.png) no-repeat 8px 8px #12A7CA;
    width: 35px;
    height: 35px;
}
.flex-direction-nav .flex-prev {
    background: url(../images/arrow_right.png) no-repeat 8px 8px #12A7CA;
}

}